<div class="container" style="margin-top:50px !important">
  <div class="alert-fix alert alert-success fade in" role="alert">
    Welcome to the Secret Santa Project! We see you still don't have a group going.
    Would you like to Create a new group or find an existing group?
  </div>
  <div class="row">
    <div class="col-md-6 well">
      <% link_to new_group_path do %>
          <h1>Create a new group</h1>
      <% end %>
      <p></p>
    </div>
    <div class="col-md-6 well">
      <h1>Join existing group</h1>
    </div>
  </div>
</div>