<div class="content-card-header">
  <h3>Latest news</h3>
</div>
<div class="content-card-content">
  <div class="bg-warning info-box">
    <p class="text-muted"><b> Welcome to the Secret Santa Project!</b>

    <p>We see you still don't have a group going.</p>

    <p>To start playing, you can create a secret santa group, and then invite your friends to join it.
      When all friends have joined, you can click a button and we will take care of randomizing it all for you
      :)</p>

    <p>If a friend has already created one, use the group code on the form to join it.</p>

  </div>
</div>